{% style %}
.hero-text p {
  font-size: 20px;
}
.hero-text a {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .hero-text p {
    font-size: 16px;
  }
}
{%  endstyle %}

<section
  class='w-full mm-grid grid-cols-1 lg:grid-cols-2'
  style='background-image:{{ section.settings.background_color }};'
>
  <div class='flex relative'>
    {{
      section.settings.hero_image
      | image_url: width: 2400
      | image_tag: class: 'h-auto w-full lg:h-full lg:w-auto object-cover max-w-none lg:max-w-full grow'
    }}
    <div class='absolute bottom-0 right-0 left-0 h-5 bg-[rgba(255,255,255,0.7)] flex justify-center text-black items-center text-center text-sm'>
      <span>The Duchess by Model Motorcars</span>
    </div>
  </div>
  <div
    class='p-10 text-white flex flex-col justify-center items-start w-fit mx-auto'
  >
    {% if section.settings.hero_subheading %}
      <h2 class='text-[#FBEB34] font-script '>{{ section.settings.hero_subheading }}</h2>
    {% endif %}
    <h1 class='text-white font-semibold uppercase text-[8vw] lg:text-[5vw] whitespace-nowrap'>
      {{ section.settings.hero_title }}
      {% if section.settings.hero_span %}
        <span class='text-[#FBEB34] whitespace-nowrap font-script text-[5vw] lg:text-[2.5vw] inline-flex -mt-1 -rotate-[8deg]'>
          {{- section.settings.hero_span -}}
        </span>
      {% endif %}
    </h1>
    {% if section.settings.hero_subtitle %}
      <span class='max-w-[80vw] lg:max-w-[40vw] block'>{{ section.settings.hero_subtitle }}</span>
    {% endif %}
    {% if section.settings.hero_text %}
      <div class='max-w-[80vw] hero-text lg:max-w-[40vw] mt-3 text-base lg:text-lg block'>{{ section.settings.hero_text }}</div>
    {% endif %}
    {%  if section.settings.hero_button_text %}
      <a class="underline" href="{{ section.settings.hero_link }}">{{ section.settings.hero_button_text }}</a>
    {%  endif %}
  </div>
</section>

{% schema %}
{
  "name": "MM - Hero",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "url",
      "id": "hero_link",
      "label": "Hero Link"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Hero Title"
    },
    {
      "type": "text",
      "id": "hero_subheading",
      "label": "Hero Subheading",
      "default": "JUNE SPECIAL"
    },
    {
      "type": "text",
      "id": "hero_span",
      "label": "Hero Span"
    },
    {
      "type": "text",
      "id": "hero_subtitle",
      "label": "Hero Subtitle"
    },
    {
      "type": "richtext",
      "id": "hero_text",
      "label": "Hero Text"
    },
    {
      "type": "text",
      "id": "hero_button_text",
      "label": "Hero Button Text"
    }
  ],
  "presets": [
    {
      "name": "MM - Hero"
    }
  ]
}
{% endschema %}
